################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/B1/WebApplication1/.vs
/B2/WebApplication1/.vs
/B5/WebApplication1/.vs
/B7/AreaDemo/.vs
