@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Product Index</h1>
<hr />
<h3>Product List</h3>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>iPhone</td>
            <td>1000</td>
            <td>
                <a href="/product/detail">Detail</a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Samsung</td>
            <td>800</td>
            <td>
                <a href="/product/detail">Detail</a>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Xiaomi</td>
            <td>750</td>
            <td>
                <a href="/product/detail">Detail</a>
            </td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Oppo</td>
            <td>700</td>
            <td>
                <a href="/product/detail">Detail</a>
            </td>
        </tr>
    </tbody>
</table>